@use "../variables" as var;
@use "../mixins" as mx;

.review-list {
  border: 1px solid var.$gray-light;
  border-bottom: 0;
  margin-bottom: 1em;
  li {
    padding: 10px;
    border-bottom: 1px solid var.$gray-light;
  }
}

button:disabled {
  opacity: 0;
}
