@use "./variables" as var;
@use "./mixins" as mx;

/* ==========================================
 共通要素
============================================ */
html {
    /*****************
    remのベース: 10px
    例：font-size: 14px; （ie8用）
    　　font-size: 1.4rem;
    *****************/
    font-size: 62.5%;
    /* ページに常にスクロールバーを表示 */
    overflow-y: scroll;
}
body {
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    color: #231815;
}
main {
    @include mx.sign-content-width;
}
h2.page-title {
    font-size: 26px;
    font-size: 2.6rem;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}
input:not([type="file"]),
button,
textarea {
    border: 1px solid var.$gray-light;
    padding: 5px !important;
    border-radius: 3px;
    vertical-align: middle;
}
button {
    background-color: var.$gray !important;
    color: #fff !important;
    padding: 5px 20px !important;
}
button:disabled {
    opacity: 0.3;
}
.error {
    color: var.$red;
}
main {
    position: relative;
}
.loading {
    opacity: 0;
    transition: all 3s ease-out;;
}